<%= form_tag(messages_url, class: 'navbar-search pull-left', method: 'get') do %>
  <%= text_field_tag :search, nil, placeholder: "Search by Message", class: 'search-query span3'  %>
<% end %>

<br />
<br />
<br />

<h1>Messages</h1>

<table class='table table-hover'>
  <tr>
    <th>Sender</th>
    <th>Whats written</th>
    <th>Receiver</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.sender.name %></td>
    <td><%= message.whats_written %></td>
    <td><%= message.receiver.name %></td>
    <td><%= link_to 'Show', message, class: 'btn btn-inverse' %></td>
    <td><%= link_to 'Edit', edit_message_path(message), class: 'btn btn-inverse' %></td>
    <td><%= link_to 'Destroy', message, class: 'btn btn-inverse', method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
