<!-- <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span3" placeholder="Search by User">
          </form> -->

<%= form_tag(users_url, class: 'navbar-search pull-left', method: 'get') do %>
  <%= text_field_tag :search, nil, placeholder: "Search by User", class: 'search-query span3'  %>
<% end %>

<br />
<br />
<br />

<h1>Users</h1>

<script>
$(document).ready(function () {
  $("h1").on("click", function() {
      $("h1").slideToggle();
    });
});

</script>

<!-- <p class='btn btn-inverse'><%= link_to 'New User', new_user_path %></p> -->


<br />
<br />

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Photo</th>
    <th>Address</th>
    <th>Dob</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=link_to user.name, user %></td>
    <td><%= image_tag user.photo, :width => 100, class: 'img img-rounded' %></td>
    <td><%= user.address %></td>
    <td><%= user.dob %></td>
    <td><%= user.email %></td>
    <td><%= user.voted_for_users.count %></td>




    <% if user == current_user %>
    <td><%= link_to 'Show', user, class: 'btn btn-inverse' %></td>
    <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-inverse' %></td>
    <td><%= link_to 'Destroy', user, class: 'btn btn-inverse', method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <% else %>

        <td>
        <% vote = Vote.new(voting_user_id: session[:user_id], voted_for_user_id: user.id ) %>
         <%= form_for vote do |f| %>
          <%= f.hidden_field :voting_user_id %>
          <%= f.hidden_field :voted_for_user_id %>
          <%= f.submit "Vote", class: 'btn btn-inverse' %>
        <% end %>
    </td>

    <td><%= link_to 'Message', new_message_url(receiver_id: user.id), class: 'btn btn-inverse' %></td>
    <td><%= link_to 'Show', user, class: 'btn btn-inverse' %></td>

    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= paginate @users %>


